<div class="container form-group p-3 my-3 bg-dark text-white">
    <div class="row">
        <div class="col-sm-2">
            <label for="title">Note Type: </label>
        </div>

        <div class="dropdown col-sm-5">
            <select class="form-control" id="noteSelect">
                <option>News</option>
                <option>Hint</option>
                <option>Protest</option>
                <option>Improvment</option>
            </select>
        </div>

        <div class="col-sm-4">
            <button type="button" class="btn btn-danger btn-block">
                ADD A NOTE
            </button>
        </div>
    </div>

    <div class="row mt-sm-3">
        <div class="col-sm-2">
            <label for="description">Description:</label>
        </div>
        <div class="col-sm-10">
            <textarea class="form-control" rows="5" id="description" name="text"></textarea>
        </div>
    </div>


    <div class="p-3 my-3 bg-dark text-white col-sm-12 border-primary">
        <button type="button" class="btn btn-danger btn-block">
            SAVE TICKET
        </button>
    </div>
</div>